<html>
<head>
	<title>Welcome to Yoti Simple Login Example</title>
	<script src="https://sdk.yoti.com/clients/browser.js"></script>
</head>
<body>
	Hello Yoti!
	<a class="btn button yoti-connect learn-more btn-primary" data-target='embed' data-yoti-application-id='your-app-id'>Sign up with Yoti</a>
	
	<script>
	    _ybg.config.service = 'https://code.yoti.com/app/'
	    _ybg.init()
	</script>
</body>
</html>