<html>
<head>
	<title>Welcome to Yoti Simple Login Example</title>
	<script src="https://sdk.yoti.com/clients/browser.2.0.0.js"></script>
</head>
<body>
	<span data-yoti-application-id="<%= yotiApplicationId %>">
        Log in with Yoti
    </span>

	<script>
	    _ybg.init()
	</script>
</body>
</html>
