<!DOCTYPE html>
<html class="yoti-html">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Yoti client example</title>
  <link rel="stylesheet" type="text/css" href="/static/index.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
</head>

<body class="yoti-body">
  <main>
    <section class="yoti-top-section">
        <div class="yoti-logo-section">
            <a href="/">
                <img class="yoti-logo-image" src="/static/assets/logo.png" srcset="/static/assets/logo@2x.png 2x" alt="Yoti"/>
            </a>
        </div>
    </section>
    <section>
        <div class="content">
            <h2 class="main-title">Identity profile check example</h2>
            <br>
            <h2 class="small-sub-title">Select identity profile check scheme:</h2>
            <div style="margin: 10px;">
            <label for="selectedScheme" class="checks-scheme">Scheme: </label>
            <select id="selectedScheme">
                <option value="DBS_BASIC">DBS_BASIC</option>
                <option value="RTW">RTW</option>
                <option value="RTR">RTR</option>
                <option value="DBS_STANDARD">DBS_STANDARD</option>
                <option value="DBS_ENHANCED">DBS_ENHANCED</option>
                <option value="DBS_RTW_BASIC">DBS_RTW_BASIC</option>
                <option value="DBS_RTW_STANDARD">DBS_RTW_STANDARD</option>
                <option value="DBS_RTW_ENHANCED">DBS_RTW_ENHANCED</option>
            </select>
            </div>

            <h2 class="small-sub-title">Select additional attributes (optional):</h2>
            <input style="margin: 10px;" value="selfie" id="selfie" type="checkbox" onchange="checkAttribute(this)"/><label for="selfie" class="checks-attributes">Photo</label>
            <br>
            <input style="margin: 10px" value="phoneNumber" id="phoneNumber" type="checkbox" onchange="checkAttribute(this)" /><label for="phoneNumber" class="checks-attributes">Phone number</label>
            <br>
            <input style="margin: 10px" value="email" id="email" type="checkbox" onchange="checkAttribute(this)"/><label for="email" class="checks-attributes">Email address</label>
            <br>
            <input style="margin: 10px" value="covid19VirusTest" id="covid19VirusTest" type="checkbox" onchange="checkAttribute(this)"/><label for="covid19VirusTest" class="checks-attributes">COVID 19 virus test</label>
            <br>

            <div class="yoti-sdk-integration-section">
                <div id="yoti-share-button"></div>
            </div>

        </div>
    </section>
  </main>

  <script src='<%= shareClient %>'></script>
  <script>

    let selectedScheme
    let selectedAttributes = []

    const dropDown = document.getElementById('selectedScheme')
    selectedScheme = dropDown.options[dropDown.selectedIndex].value

    dropDown.onchange = function() {
      const { value } = dropDown.options[dropDown.selectedIndex]
      selectedScheme = value
    }

    const checkAttribute = function (target) {
      console.log(target.value, target.checked)
      if (target.checked) {
        selectedAttributes.push(target.value)
      } else {
        selectedAttributes = selectedAttributes.filter((i) => i !== target.value)
      }
      console.log(selectedAttributes)
    }

    async function getShareUrl() {
      console.log('The get share url has been called.')
      const attributes = selectedAttributes.join(',')
      const response = await fetch(`/get-new-share-url?scheme=${selectedScheme}&attributes=${attributes}`);
      const myJson = await response.json();
      console.log(JSON.stringify(myJson));
      return myJson.shareUrl;
    }

    window.Yoti.Share.init({
      "elements": [
        {
          "domId": "yoti-share-button",
          "clientSdkId": "<%= yotiClientSdkId %>",
          "shareUrlProvider": getShareUrl,
          "button": {
            "label": "Use Yoti",
            "align": "left",
            "width": "auto",
            "verticalAlign": "middle"
          },
          "type": "modal"
        }
      ]
    });
  </script>
</body>

</html>
