<!DOCTYPE html>
<html class="yoti-html">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Yoti client example</title>
  <link rel="stylesheet" type="text/css" href="/static/index.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
</head>

<body class="yoti-body">
  <main>
    <section class="yoti-top-section">
        <div class="yoti-logo-section">
            <a href="/">
                <img class="yoti-logo-image" src="/static/assets/logo.png" srcset="/static/assets/logo@2x.png 2x" alt="Yoti"/>
            </a>
        </div>
    </section>
    <section>
        <div class="content">
            <h2 class="main-title">Identity profile checks examples</h2>
            <br>
            <div class="row">
                <div class="column yoti-blue-tint-background">
                    <br>
                    <h2 class="main-title">DBS basic check</h2>
                    <br>
                    <div id="yoti-dbs-basic-share-button"></div>
                    <br>
                </div>
                <div class="column yoti-green-tint-background">
                    <br>
                    <h2 class="main-title">RTW check</h2>
                    <br>
                    <div id="yoti-rtw-share-button"></div>
                    <br>
                </div>
                <div class="column yoti-orange-tint-background">
                    <br>
                    <h2 class="main-title">RTR check</h2>
                    <br>
                    <div id="yoti-rtr-share-button"></div>
                    <br>
                </div>
            </div>
        </div>
    </section>
  </main>

  <script src='<%= shareClient %>'></script>
  <script>
    async function getShareUrl(scheme) {
      console.log('The get share url has been called.')
      const response = await fetch(`/get-new-share-url?scheme=${scheme}`);
      const myJson = await response.json();
      console.log(JSON.stringify(myJson));
      return myJson.shareUrl;
    }

    async function getShareUrlForDbsBasicChecks() {
        return await getShareUrl('dbs-basic');
    }

    async function getShareUrlForRtwChecks() {
        return await getShareUrl('rtw');
    }

    async function getShareUrlForRtrChecks() {
        return await getShareUrl('rtr');
    }

    window.Yoti.Share.init({
      "elements": [
        {
          "domId": "yoti-dbs-basic-share-button",
          "clientSdkId": "<%= yotiClientSdkId %>",
          "shareUrlProvider": getShareUrlForDbsBasicChecks,
          "button": {
            "label": "Use Yoti",
            "align": "center",
            "width": "auto",
            "verticalAlign": "top"
          },
          "type": "modal"
        },
        {
          "domId": "yoti-rtw-share-button",
          "clientSdkId": "<%= yotiClientSdkId %>",
          "shareUrlProvider": getShareUrlForRtwChecks,
          "button": {
            "label": "Use Yoti",
            "align": "center",
            "width": "auto",
            "verticalAlign": "top"
          },
          "type": "modal"
        },
        {
          "domId": "yoti-rtr-share-button",
          "clientSdkId": "<%= yotiClientSdkId %>",
          "shareUrlProvider": getShareUrlForRtrChecks,
          "button": {
            "label": "Use Yoti",
            "align": "center",
            "width": "auto",
            "verticalAlign": "top"
          },
          "type": "modal"
        }
      ]
    });
  </script>
</body>

</html>
