<!DOCTYPE html>
<html class="yoti-html">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Yoti client example</title>
  <link rel="stylesheet" type="text/css" href="/static/index.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
</head>

<body class="yoti-body">
  <main>
    <section class="yoti-top-section">
        <div class="yoti-logo-section">
            <a href="/">
                <img class="yoti-logo-image" src="/static/assets/logo.png" srcset="/static/assets/logo@2x.png 2x" alt="Yoti"/>
            </a>
        </div>
    </section>
    <section>
        <div class="content">
            <h2 class="main-title">Identity profile checks examples</h2>
            <br>
            <select id="selectedScheme">
                <option value="DBS_BASIC">DBS_BASIC</option>
                <option value="RTW">RTW</option>
                <option value="RTR">RTR</option>
                <option value="DBS_STANDARD">DBS_STANDARD</option>
                <option value="DBS_ENHANCED">DBS_ENHANCED</option>
                <option value="DBS_RTW_BASIC">DBS_RTW_BASIC</option>
                <option value="DBS_RTW_STANDARD">DBS_RTW_STANDARD</option>
                <option value="DBS_RTW_ENHANCED">DBS_RTW_ENHANCED</option>
            </select>
            <input value="selfie" id="selfie" type="checkbox" onchange="checkAttribute(this)"/>
            <input value="nationality" id="nationality" type="checkbox" onchange="checkAttribute(this)"/>
            <input value="phonenumber" id="phoneNumber" type="checkbox" onchange="checkAttribute(this)" />
            <input value="email" id="email" type="checkbox" onchange="checkAttribute(this)"/>
            <input value="gender" id="gender" type="checkbox" onchange="checkAttribute(this)"/>
            <div class="row">
                <div class="column yoti-blue-tint-background">
                    <br>
                    <h2 class="main-title">DBS basic check</h2>
                    <br>
                    <div id="yoti-dbs-basic-share-button"></div>
                    <br>
                </div>
            </div>
        </div>
    </section>
  </main>

  <script src='<%= shareClient %>'></script>
  <script>

    let selectedScheme
    let selectedAttributes = []

    const dropDown = document.getElementById('selectedScheme')
    selectedScheme = dropDown.options[dropDown.selectedIndex].value

    dropDown.onchange = function() {
      const { value } = dropDown.options[dropDown.selectedIndex]
      selectedScheme = value
    }

    const checkAttribute = function (target) {
      console.log(target.value, target.checked)
      if (target.checked) {
        selectedAttributes.push(target.value)
      } else {
        selectedAttributes = selectedAttributes.filter((i) => i !== target.value)
      }
      console.log(selectedAttributes)
    }

    // const checkbox = document.getElementById('checkbox')
    //
    // checkbox.onchange = function() {
    //   console.log(checkbox.checked)
    // }

    async function getShareUrl() {
      console.log('The get share url has been called.')
      const attributes = selectedAttributes.join(',')
      const response = await fetch(`/get-new-share-url?scheme=${selectedScheme}&attributes=${attributes}`);
      const myJson = await response.json();
      console.log(JSON.stringify(myJson));
      return myJson.shareUrl;
    }

    window.Yoti.Share.init({
      "elements": [
        {
          "domId": "yoti-dbs-basic-share-button",
          "clientSdkId": "<%= yotiClientSdkId %>",
          "shareUrlProvider": getShareUrl,
          "button": {
            "label": "Use Yoti",
            "align": "center",
            "width": "auto",
            "verticalAlign": "top"
          },
          "type": "modal"
        }
      ]
    });
  </script>
</body>

</html>
