.yoti-html {
    height: 100%;
}

.yoti-body {
    margin: 0;
}

.yoti-top-section {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    align-items: center;
}

.yoti-logo-section {
    margin-bottom: 10px;
}

.yoti-logo-image {
    display: block;
}

.yoti-checks-section {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    align-items: center;
}

.yoti-report-section {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.yoti-sdk-integration-section {
    margin: 30px 0;
}

#yoti-share-button {
    width: 250px;
    height: 100px;
}

.yoti-main-title {
    text-align:center;
    font-size:25px;
    color:#2875bc;
}

.yoti-checks-scheme {
    font-weight: bold;
    font-size: large;
}

.yoti-error-container {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
    position: relative;
    padding: 1rem 1rem;
    margin: 20px;
    border-radius: 0.25rem;
}
