<!DOCTYPE html>
<html>

<head>
    <title>Yoti IDV</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/images/favicon.png" />
</head>

<body class="yoti-body">
    <section class="yoti-top-section">
        <div class="yoti-logo-section">
            <a href="/">
            <img
                class="yoti-logo-image"
                src="/static/images/logo.png"
                srcset="/static/images/logo@2x.png 2x"
                alt="Yoti"/>
            </a>
        </div>
    </section>
