<!DOCTYPE html>
<html>
<head>
  <title>Yoti Doc Scan</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/" class="navbar-brand">Yoti Doc Scan</a>
  </nav>
    <iframe
      style="border:none;"
      width="100%"
      height="750"
      allow="camera"
      src="<%= iframeUrl %>"
    ></iframe>
</body>
</html>