<!DOCTYPE html>
<html>
<head>
  <title>Yoti Doc Scan Demo</title>
</head>
<body>
    <iframe style="display:block; border:none; height:800px; width:100%; max-width:1000px; margin:0 auto;" src="<%= iframeUrl %>"></iframe>
</body>
</html>