<table class="table table-striped">
    <tbody>
        <tr>
            <td>ID</td>
            <td><%= task.getId(); %></td>
        </tr>
        <tr>
            <td>State</td>
            <td><%= task.getState(); %></td>
        </tr>
        <tr>
            <td>Created</td>
            <td><%= task.getCreated(); %></td>
        </tr>
        <tr>
            <td>Last Updated</td>
            <td><%= task.getLastUpdated(); %></td>
        </tr>
    </tbody>
</table>