<%- include('layout/header'); -%>
<div class="container mb-3">
    <div class="row">
        <div>
            <h4>Session configuration:</h4>
            <pre><%= JSON.stringify(sessionConfig, null, 2) %></pre>
        </div>
    </div>
</div>
