<%- include('layout/header'); -%>
<div style="font-size: 18px; margin-left: 300px">
    <h2>Click to view examples for:</h2>
    <div>
        <% useCasesList.forEach(function(useCase) { %>
            <a href="<%= useCase.href %>" target="_blank"><%= useCase.name %></a>
            <br>
        <% }); %>
    </div>
</div>
<%- include('layout/footer'); -%>
