<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
  <h2><a href="/">Home</a></h2>
  <h3>Could not login user for the following reason: <%= error %> </h3>
</body>
</html>
