<!DOCTYPE html>
<html>
<head>
  <title>Yoti Site</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/style.css">

  <script src="https://sdk.yoti.com/clients/browser.2.3.0.js"></script>
</head>
<body>
<div class="container">
  <h2>Your Site Information</h2>
  <span data-yoti-application-id="<%= yotiApplicationId %>">
      Use Yoti
    </span>

  <!-- Initiate Yoti button -->
  <script>
    _ybg.init()
  </script>
</div>
</body>
</html>