<!DOCTYPE html>
<html>
<head>
  <title>Yoti client example</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">

  <script src="https://sdk.yoti.com/clients/browser.2.1.0.js"></script>
</head>
<body>
  <span data-yoti-application-id="<%= yotiApplicationId %>">
    Use Yoti
  </span>

  <script>
    _ybg.init()
  </script>
</body>
</html>
