name: Tests
on: [push, pull_request_target]

jobs:
  tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    if: >
      github.event_name == 'push' ||
      github.event_name == 'pull_request_target' && github.event.pull_request.head.repo.full_name != github.repository

    steps:
      - uses: actions/checkout@v2
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting for sonarcloud
          fetch-depth: 0

      - uses: actions/setup-node@v2.1.2

      - run: npm install

      - run: npm update

      - run: npm audit --production

      - run: set -o pipefail && npm audit --audit-level=high --parseable | awk -F $'\t' 'NF {print $2,"("$3") - "$4" - "$5" - "$6}' | awk '!visited[$0]++'

      - run: npm test

      - name: Fix code coverage paths
        run: sed -i 's/\/home\/runner\/work\/yoti-node-sdk\/yoti-node-sdk\//\/github\/workspace\//g' ./coverage/lcov.info

      - uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  examples:
    name: Lint Examples
    runs-on: ubuntu-latest
    if: >
      github.event_name == 'push' ||
      github.event_name == 'pull_request_target' && github.event.pull_request.head.repo.full_name != github.repository

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2.1.2

      - run: npm install

      - run: npm update

      - run: pushd ./examples/aml-check && npm install && npm update && npm run lint && popd

      - run: pushd ./examples/profile && npm install && npm update && npm run lint && popd

      - run: pushd ./examples/doc-scan && npm install && npm update && npm run lint && popd

  node-compatibility:
    name: Node ${{ matrix.node-version }}
    runs-on: ubuntu-latest
    # always run on push events
    # only run on pull_request_target event when pull request pulls from fork repository
    if: >
      github.event_name == 'push' ||
      github.event_name == 'pull_request_target' && github.event.pull_request.head.repo.full_name != github.repository
    strategy:
      fail-fast: false
      matrix:
        node-version: [6, 8, 9, 10, 11, 12, 13, 14]

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2.1.2
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm install

      - run: npm update

      - run: npm run unit-test

  os-compatibility:
    name: Running in ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    # always run on push events
    # only run on pull_request_target event when pull request pulls from fork repository
    if: >
      github.event_name == 'push' ||
      github.event_name == 'pull_request_target' && github.event.pull_request.head.repo.full_name != github.repository
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2.1.2

      - run: npm install

      - run: npm update

      - run: npm run unit-test
